@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We collect the following information about you.</p>
<ul>
    <li>Name</li>
    <li>Address</li>
    <li>Bank Details</li>
    <li>Family</li>
    <li>Location</li>
    <li>Browser history</li>
    <li>Eboks letters</li>
    <li>Workplace</li>
    <li>Hobbies</li>
    <li>Pictures</li>
</ul>
<p>We do it, to troll you! Trololololo</p>
<img src="~/img/trollface.png" height="250" width="400"/>
